@import 'src/assets/styles/constants.scss';


#tts {
    .all-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto repeat(10,1fr);
        width: 2390px;
        height: 2331px;
        background-color: black;
    }
    .single-container {
        width: $card-width;
    }
}