@import 'src/assets/styles/constants.scss';

#monster-card {
    --direct-color: #b460ff82;
    --indirect-color:  #65b7fa82;
    .card-container {
        width: $card-width;
        height: $card-height;
        position: relative;
        border-radius: 11px;
        background-image: url("~/assets/images/graphics/card-background.png");
        background-size: contain;
        .text {
            font-family: $text-font;
            font-size: 11px;
            margin: 3px 3px;
            line-height: 13px;
            z-index: 1000;
            position: relative;
            div {
                display: inline-block;
            }
        }
        .name {
            div {
                font-family: $header-font;
                font-size: 25px;
                line-height: 22px;
                text-align: center;
                color: white;
                letter-spacing: 1px;
            }
            background: black;
            border-radius: 9px 9px 0px 0px;
            padding-top: 4px;
            min-height: 36px;
        }
        .top-container {
            display: flex;
            margin: -10px 10px 0px 10px;
            max-height: 126px;
            .stat-container {
                display: inline-grid;
                justify-content: center;
                align-items: self-end;
                background: #e2e2e2;
                padding: 5px;
                border-radius: 0px 5px 5px 0px;
                min-width: 57px;
                .stat {
                    font-family: $header-font;
                    font-size: 30px;
                    display: flex;
                    div:first-child {
                        padding-right: 2px;
                    }
                    img {
                        max-height: 30px;
                    }
                }
            }
            .image-container {
                width: 100%;
                border: 2px solid;
                border-color: #e2e2e2;
                border-right: unset;
                border-radius: 5px 0px 0px 5px;
                background: white;
                background-size: cover;
                &.blue {
                    background-image: url("~/assets/images/graphics/blue.png");
                }
                &.red {
                    background-image: url("~/assets/images/graphics/red.png");
                }
                &.orange {
                    background-image: url("~/assets/images/graphics/orange.png");
                }
                &.purple {
                    background-image: url("~/assets/images/graphics/purple.png");
                }
                &.green {
                    background-image: url("~/assets/images/graphics/green.png");
                }
                div {
                    text-align: center;
                }
                img {
                    max-height: 122px;
                }
            }
        }
        .actions-container {
            .action-container {
                display: flex;
                margin: 5px;
                border-radius: 5px;
                min-height: 23px;
                position: relative;
                &.direct {
                    background-color: var(--direct-color);
                }
                &.indirect {
                    background-color: var(--indirect-color);
                }
                &.innate {
                    margin: 5px 5px 0px 5px;
                    border-radius: 5px 5px 0px 5px;
                }
                .number {
                    background: black;
                    border-radius: 5px 0px 0px 5px;
                    color: white;
                    font-size: 21px;
                    line-height: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white;
                    border-top: unset;
                    border-bottom: unset;
                    border-left: unset;
                    font-family: $header-font;
                    min-width: 21px;
                    padding: 5px 5px 0px 5px;
                }
                .damage-section {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 0;
                    border: 2px solid white;
                    border-top: unset;
                    border-bottom: unset;
                    border-left: unset;
                    min-width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .damage-img {
                        max-height: 15px;
                    }
                }
                .action-type {
                    position: absolute;
                    right: 3px;
                    top: -2px;
                    opacity: 0.8;
                    z-index: 20;
                    img {
                        max-height: 20px;
                    }
                }
            }
            .innate-container {
                display: flex;
                margin-left: 64.3px;
                margin-right: 5px;
                border-radius: 0px 0px 5px 5px;
                border: 2px solid white;
                border-right: unset;
                border-bottom: unset;
                border-left: unset;
                &.direct {
                    background-color: var(--direct-color);
                }
                &.indirect {
                    background-color: var(--indirect-color);
                }
                .text {
                    font-size: 9px !important;
                }
                .innate-image-container {
                    padding-left: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-height: 15px;
                    }
                }
            }
        }
    }
}