<div id="monster-card">
  <div class="card-container">
    <div class="name">
      <div [ngClass]="{'long-name' : monster.name && monster.name.length > 17}">
        {{monster.name}}
      </div>
    </div>
    <div class="top-container">
      <div class="image-container" style="background-image:url({{getBackground()}});">
        <div class="monster-image">
          <img *ngIf="monster.monsterSrc" src="{{monster.monsterSrc}}">
        </div>
        <div class="stat-container left">
          <div class="stat">
            <div>
              {{monster.defense}}
            </div>
            <div>
              <img src="{{getIconSrc('Defense')}}">
            </div>
          </div>
        </div>
        <div class="stat-container right">
          <div class="stat">
            <div>
              {{monster.speed}}
            </div>
            <div>
              <img src="{{getIconSrc('Speed')}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions-container">
      <ng-container *ngFor="let action of monster.actions; index as i">
        <div class="action-container" [ngClass]="{'direct' : action.isDirect, 'indirect' : !action.isDirect, 'innate' : action.innateText}">
          <div class="number">{{i+1}}</div>
          <div *ngIf="action.isDirect && action.damage > 0" class="damage-section">
            {{action.damage}}
            <img *ngIf="action.damage > 0 && !action.isTrueDamage" class="damage-img" src="{{getIconSrc('Damage')}}">
            <img *ngIf="action.damage > 0 && action.isTrueDamage" class="damage-img" src="{{getIconSrc('True Damage')}}">
          </div>
          <div class="text" [innerHTML]="getText(action.text)"></div>
          <div class="action-type">
            <img *ngIf="action.isDirect" src="{{getIconSrc('DirectW')}}">
            <img *ngIf="!action.isDirect" src="{{getIconSrc('IndirectW')}}">
          </div>
        </div>
        <!-- <div *ngIf="action.innateText" class="innate-container" [ngClass]="{'direct' : action.isDirect, 'indirect' : !action.isDirect}">
          <div class="innate-image-container">
            <img src="./assets/images/symbols/innate.png">
          </div>
          <div class="text" [innerHTML]="getText(action.innateText)" ></div>
        </div> -->
      </ng-container>
    </div>
    <div class="artist">
      <span *ngIf="monster.artist">
        <img src="{{getIconSrc('Artist')}}">
        {{monster.artist}}
      </span>
    </div>
    <div class="set-info">
      <span>
        <span>{{setInfo}}</span>
        <span *ngIf="monster.setGameIconName">
          <img src="{{getIconSrc(monster.setGameIconName)}}">
        </span>
      </span>
    </div>
  </div>
</div>