#monster-editor {
    margin-top: 25px;
    padding-bottom: 120px;
    min-height: 900px;
    .card-container{
        position: fixed !important;
        margin: 30px 30px 30px 85px;
        zoom: 140%;
    }
    .form-element{
        margin-bottom: 15px;
        padding: unset;
        margin: unset;
        &.upload {
            padding-bottom: 20px;
        }
        .mat-form-field{
            border-radius: 3px;
            width: inherit;
            &.textarea {
                width: inherit;
            }
        }
        text-input,number-input{
            border-radius: 3px;
            width: inherit;
            .mat-form-field{
                border-radius: 3px;
                width: inherit;
                &.textarea {
                    width: inherit;
                }
            }
        }
    }
    .expansion-container {
        margin-top: 15px;
        .term-img {
            max-height: 17px;
        }
    }
    .save-button{
        margin-top: 25px;
        width: inherit;
        background: white;
    }
    .action {
        padding: 15px;
        border-radius: 10px;
        background-color: #c1e3ff40;
        margin: 10px 0px;
        &.direct {
            background-color: #b460ff1a;
        }
    }
    .description-container {
        position: fixed;
        top: 56vh;
        width: 570px;
        .title {
            font-weight: 700;
        }
        .description {
            text-align: justify;
            img {
                max-height: 25px;
            }
        }
    }
}