<div id="monster-editor">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <!-- NAME INPUT -->
          <div class="col-12 form-element">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="monster.name">
            </mat-form-field>
          </div>
          <!-- MONSTER BACKGROUND -->
          <div class="col-12 form-element">
            <dropdown style="width:inherit;" [label]="'Monster Background'" [model]="monster"
              [property]="'monsterBackgroundImage'" [options]="BACKGROUND_IMAGE_TYPES">
            </dropdown>
          </div>
          <!-- DEFENSE INPUT -->
          <div class="col-12 form-element">
            <mat-form-field class="textarea" appearance="fill">
              <mat-label>Defense</mat-label>
              <input matInput min="-5" max="5" type="number" #input [(ngModel)]="monster.defense">
            </mat-form-field>
          </div>
          <!-- SPEED INPUT -->
          <div class="col-12 form-element">
            <mat-form-field class="textarea" appearance="fill">
              <mat-label>Speed</mat-label>
              <input matInput min="-5" max="5" type="number" #input [(ngModel)]="monster.speed">
            </mat-form-field>
          </div>
          <!-- ACTIONS -->
          <div *ngFor="let action of monster.actions; index as i" class="col-12 form-element action" [ngClass]="{'direct' : action.isDirect}">
            <!-- DAMAGE -->
            <div *ngIf="action.isDirect" class="col-12 form-element">
              <mat-form-field class="textarea" appearance="fill">
                <mat-label>Damage</mat-label>
                <input matInput min="0" max="20" type="number" #input [(ngModel)]="action.damage">
              </mat-form-field>
            </div>
            <!-- DAMAGE / TRUE DAMAGE TOGGLE -->
            <mat-checkbox *ngIf="action.isDirect && action.damage > 0" [(ngModel)]="action.isTrueDamage">
              True Damage?
            </mat-checkbox>
            <!-- TEXT -->
            <mat-form-field class="textarea" appearance="fill">
              <mat-label>Action #{{i + 1}}</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10" [(ngModel)]="action.text">
              </textarea>
            </mat-form-field>
            <!-- INNATE TEXT -->
            <!-- <mat-form-field class="textarea" appearance="fill">
              <mat-label>Innate</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10" [(ngModel)]="action.innateText">
              </textarea>
            </mat-form-field> -->
            <!-- DIRECT / INDIRECT TOGGLE -->
            <mat-checkbox [(ngModel)]="action.isDirect">
              Direct?
            </mat-checkbox>
          </div>
          <!-- ACCORDIANS -->
          <div class="col-12 expansion-container form-element" *ngIf="gameIcons && gameIcons.length">
            <game-icon-accordian
              [title]="'Game Icons'"
              [gameIcons]="gameIcons">
            </game-icon-accordian>
          </div>
          <div class="col-12 expansion-container form-element" *ngIf="gameTerms && gameTerms.length">
            <game-term-accordian
              [title]="'Game Terms'"
              [gameTerms]="gameTerms"
              [gameIcons]="gameIcons">
            </game-term-accordian>
          </div>
          <button class="save-button col-12" mat-stroked-button (click)="save()">Save Monster</button>
          <button class="save-button col-12" mat-stroked-button (click)="copy()">Copy Monster to Clipboard</button>
          <button class="save-button col-12" mat-stroked-button [routerLink]="['/tts', monster.name]">Download as PNG</button>
        </div>
      </div>
      <div class="col-6">
        <monster [monster]="monster">
        </monster>
      </div>
    </div>
  </div>
</div>